.noticeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px;

  border: solid 1px rgba(255, 255, 255, 0.1);

  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.04);
  gap: 6px;
}

.noticeDescription {
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.noticeLine {

}

.noticeTitle {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
}
.noticeHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}
.noticeContent {
  font-size: 14px;
}

.noticeList {
  line-height: 1.4;
  padding: 0;
  padding-left: 22px;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}