.userPresence {
  display: flex;
  overflow: hidden;
  gap: 2px;
}

.full .lastOnline {
  overflow: initial;
  text-overflow: initial;
  word-break: break-word;
  white-space: pre-line;
}

.lastOnline {
  overflow: hidden;
  opacity: 0.6;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body .full .value > span,
.full span,
.full .activity {
  overflow: initial;
  text-overflow: initial;
  word-break: break-word;
  white-space: pre-line;
}

.value > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity {
  display: flex;

  overflow: hidden;
  align-items: center;

  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 4px;
}
.activityAction {
  color: white;
}
.activityName {
}

.value {
  display: flex;
  overflow: hidden;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

.dot {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  margin: 2px;
  margin-top: 3px;
  border-radius: 50%;
  &.offline {
    background-color: #adadad;
  }
  &.online {
    background-color: #78e380;
  }
  &.ltp {
    background-color: #78a5e3;
  }
  &.afk {
    background-color: #e3a878;
  }
  &.dnd {
    background-color: #e37878;
  }
}
