.userPresence {
  display: flex;
  align-items: center;
}

.value > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity {
  display: flex;
  gap: 4px;
  align-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.activityAction {
  color: white;

}
.activityName {

}


.value {
  display: flex;
  overflow: hidden;
  align-items: center;
  font-size: 12px;
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.8);
}


.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  &.offline {
    background-color: #adadad;
  }
  &.online {
    background-color: #78e380;
  }
  &.ltp {
    background-color: #78a5e3;
  }
  &.afk {
    background-color: #e3a878;
  }
  &.dnd {
    background-color: #e37878;
  }
}
