.connectingStatusHeader {
  position: relative;
  display: flex;
  
  overflow: hidden;
  flex-shrink: 0;
  height: 20px;
  margin: 6px;

  border-radius: 6px;
  opacity: 1;
  transition: 0.2s ease-in;

  &.mobile {
    margin: 0;
    border-radius: 0;
  }
  
  &.hide {
    height: 0;
    margin: 0;
    border-radius: 0;
    opacity: 0;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    backdrop-filter: brightness(82%);
  }
  
  .text {
    position: relative;
    z-index: 1111;
    overflow: hidden;
    flex: 1;
    text-align: center;
    text-overflow: ellipsis;

    white-space: nowrap;
    font-size: 14px;

  }
}