.loginPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container {
  border-radius: 4px;
  width: 300px;
  margin: auto;
  padding: 10px;
}
.title {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.link {
  margin-top: 20px;
  display: block;
  text-align: center;
}