.checkbox {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &.selected .box {
    background-color: var(--primary-color);
    color: white;
  }
  &:hover .box {
    color: rgba(255, 255, 255, 0.6);
  }
}

.box {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
  color: transparent;
  transition: 0.2s;
  padding: 3px;
}