.drawerLayout {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
}
.leftDrawer {
  background: rgba(0, 0, 0, 0.3);
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  width: 100%;
}
.rightPane {
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}
