.drawerLayout {
  display: flex;
  overflow: hidden;
  flex: 1;


}

.opacityContent {
  position: absolute;
  inset: 0;
  z-index: 1111111111;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}

.container {
  display: flex;
  flex: 1;

}

body .mobile {
  .content {
    margin: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

.content {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-block: 8px;
  margin-right: 8px;

  border-radius: 8px;
  

  &.hasLeftDrawer {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-left: solid 1px rgba(255, 255, 255, 0.2);
  }

  &.hasRightDrawer {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-right: solid 1px rgba(255, 255, 255, 0.2);
  }
}


.sideBar {
  padding-right: 4px;
  &.hasLeftDrawer {
    padding-right: 0;
  }
}
.leftDrawer {
  display: flex;
  flex-direction: column;
  background: var(--side-pane-color);
  margin: 8px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 8px;

  border-bottom-right-radius: 0;
  border-top-right-radius: 0;


  width: 100%;
  overflow: hidden;
  position: relative;

}

.rightPane {
  display: flex;
  flex-direction: column;
  background: var(--side-pane-color);
  width: 100%;
  margin: 8px;
  margin-left: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

}

.mobile .leftDrawer {
  padding-bottom: 54px;
  border-radius: 8px;
}
.mobile .rightPane {
  border-radius: 8px;
}

// .mobile .leftDrawer {
//   border-radius: 0;
//   margin: 0;
// }

// .mobile .rightPane {
//   margin: 0;
//   border-radius: 0;
// }


