.drawerLayout {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.opacityContent {
  position: absolute;
  inset: 0;
  z-index: 1111111111;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}


.container {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  position: relative;
  overflow: hidden;
}
.leftDrawer {
  display: flex;
  flex-direction: column;
  background: var(--pane-color);
  margin: 8px;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.rightPane {
  display: flex;
  flex-direction: column;
  background: var(--pane-color);
  width: 100%;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
}

// .mobile .leftDrawer {
//   border-radius: 0;
//   margin: 0;
// }

// .mobile .rightPane {
//   margin: 0;
//   border-radius: 0;
// }