.pane {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.addQuestionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow: auto;
  max-height: 60vh;
}


.answerForAddModalContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.answerInput {
  flex: 1;
  width: 500px;
}

.deleteAnswerButton {
  margin-top: 24px;
  &.hidden {
    visibility: hidden;
    pointer-events: none;
  }
}
