.slide-enter-active {
  transition: all 0.2s ease-out;
}
.slide-exit-active {
  transition: all 0.1s ease-in;
}
.slide-enter {
  transform: translateY(30%);
  opacity: 0;
}
.slide-exit-to {
  opacity: 0;
}
