.header {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  padding: 15px;
  flex-shrink: 0;

  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6)
  }
}
.avatar {
  z-index: 111;;
}
.details {
  margin-left: 10px;
  font-size: 18px;
  z-index: 1111;
}

.members {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.link {
  font-size: 14px;
}