.header {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.details {
  margin-left: 10px;
  font-size: 18px;
}

.members {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.link {
  font-size: 14px;
}