.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.table {
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
}
.label {
  border-right: 1px solid #FFF8;
}
.table td:nth-child(2) {
  padding-left: 8px;
}
.section > tr:last-child > td {
  border-bottom: 1px solid #FFF8;
  padding-bottom: 4px;
}
.section > tr:first-child > td {
  padding-top: 4px;
}
.table thead {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding-bottom: 4px;
  & th {
    border-bottom: 1px solid #FFF8;
    font-size: 0.8rem;
  }
}
