.pane {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  .title {
    text-overflow: ellipsis;
    overflow: hidden;

  }
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.questionList {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.questionItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 8px;
  border-radius: 6px;

  .title {
    word-break: break-word;
    white-space: pre-line;
  }

}

.answerList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.answerItem {
  display: flex;
  align-items: center;
  .checkbox {
    flex: 1;
  }
  .radioBox {
    margin: 0;
    padding: 0;
    background-color: transparent;
    flex: 1;
  }
  .userCount {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 4px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 6px;
  }
}


.continueFooter {
  display: flex;
  align-items: center;


  font-size: 14px;
  backdrop-filter: blur(34px);
  position: sticky;
  bottom: 10px;
  z-index: 111;
  margin: 10px;
  margin-bottom: 0;

  border-radius: 8px;

  .button {
    flex: 1;
    padding: 12px;
    overflow: hidden;
  }
  .button > span:nth-child(1) {
    width: 100%;
  }

}