.markedContainer {
  h2 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ul {
    margin: 5px;
  }
  li {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -10px;
  }
}