.block {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 10px;
  padding-left: 15px;
  min-height: 40px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 5px;
  &.header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 1px;
  }
}

.outerContainer {
  display: flex;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
}
.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;
  gap: 3px;
}

.label {
  font-size: 14px;
}

.description {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}