.block {
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 5px;
  &.header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 1px;
  }
}
.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}
.description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}