.invitesPane {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.mobile .inviteItem  {
  .detailsOuter{
    flex-direction: column;
    align-items: initial;
    align-content: center;
  }
  .button {
    margin-left: initial;
    align-self: flex-start;
    margin-top: 5px;
  }
}

.inviteItem {
  display: flex;
  align-items: center;

  margin-bottom: 2px;
  padding: 10px;  
  background: rgba(255, 255, 255, 0.06);
  
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
  &:not(:last-child) {
    border-radius: 0;
    margin-bottom: 1px;
  }

  
  .detailsOuter {
    display: flex;
    margin-left: 5px;
    width: 100%;
  }
  .otherDetails {
    margin-top: 3px;
    margin-left: -3px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    .icon {
      margin-right: 3px;
      margin-left: 3px;
    }
  }


  .button {
    font-size: 14px;
    padding: 4px;
    margin: 0;
    align-self: center;
  }
  .copyButton {
    margin-left: auto;
    margin-right: 5px;
  }

  .url {
    word-break: break-word;
  }

}