.container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.clicked {
  opacity: 0.4;
  pointer-events: none;
}

.modalContent {
  display: flex;
  overflow: auto;
  flex-direction: column;

  max-height: 50vh;
  padding-right: 8px;
  padding-left: 8px;
  gap: 6px;
}
