.container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.clicked {
  opacity: 0.4;
  pointer-events: none;
}

.modalContent {
  max-height: 50vh;
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
}
