:global body.disableBlur {
  :local {
    .floatOptions {
      background-color: rgb(40, 40, 40);
      backdrop-filter: none;
    }
  }
}

.floatOptions {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.86);
  padding: 2px;
  border-radius: 8px;
  backdrop-filter: blur(34px);
  top: -18px;
  right: 10px;
  display: none;
  z-index: 1111111;
  border: solid 1px rgba(255, 255, 255, 0.2);
  .floatDate {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    border-right: solid 1px rgba(255, 255, 255, 0.4);
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    padding: 2px;
    .icon {
      transition: 0.2s;
      user-select: none;
    }
    &:hover {
      opacity: 1;
      background-color: rgb(78, 78, 78);
      .icon {
        color: var(--primary-color);
      }
    }
  }
}


.systemMessage {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .date {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    margin-left: 6px;
  }
}


.messageItem {
  display: flex;
  position: relative;
  flex-shrink: 0;

  padding: 3px;
  padding-left: 6px;
  padding-right: 10px;
  margin-top: 10px;
  gap: 5px;
  align-items: start;


  .blockedMessage {
    font-size: 14px;
    opacity: 0.6;
    padding-left: 56px;
    cursor: pointer;
  }
  .blockedMessage.compact {
    padding-left: 0;
  }

  .avatar {
    margin-left: 6px;
    margin-right: 6px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
    .floatOptions {
      display: flex;
    }
  }
  &.mentioned {
    background-color: rgba(255, 149, 149, 0.1);
    &:before {
      content: '';
      left: 0;
      top: 5px;
      bottom: 5px;
      width: 5px;
      background-color: var(--alert-color);
      border-radius: 8px;
      position: absolute;
      
    }
  }
  &.someoneMentioned {
    // rainbow background gradient with 40% opacity
    background: linear-gradient(90deg, rgba(255,0,0,0.2) 0%, rgba(255,165,0,0.2) 20%, rgba(255,255,0,0.2) 40%, rgba(0,255,0,0.2) 60%, rgba(0,0,255,0.2) 80%, rgba(136,0,130,0.2) 100%);
  }
}

.reactions {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}
body .reactionItem {
  .emoji {
    height: 1.4em;
    width: 1.4em;
    border-radius: 4px;
    margin-right: 3px;
    object-fit: contain;
  }

  background: transparent;
  background-color: rgba(255, 255, 255, 0.05);
  &.reacted {
    background-color: rgba(255, 255, 255, 0.16);
    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }
  
}

.whoReactedModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(40, 40, 40, 0.86);
  backdrop-filter: blur(34px);
  border: solid 1px rgba(255, 255, 255, 0.2);
  z-index: 11111;
  flex-shrink: 0;
  border-radius: 8px;
  top: 10px;
}

.whoReactedItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-size: 12px;
}
.whoReactedPlusCount {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
  opacity: 0.6;
}

.messageInner {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: hidden;
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.details .ownerBadge {
  font-size: 12px;
  padding: 2px;
  background-color: var(--primary-color);
  border-radius: 4px;
} 

.details .date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  flex-shrink: 0;
}

.content {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  word-break: break-word;
  white-space: pre-line;
}

.compact {
  padding-top: 3px;
  margin-top: 0px;
  padding-left: 63px;
}

.sentStatus {
  display: inline-block;
  .icon {
    margin-left: 2px;
    vertical-align: -2.5px;
  }
}

.embeds {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.ogEmbedContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.02);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 5px;
  gap: 5px;
  max-width: 500px;
  .ogEmbedImage {
    border-radius: 8px;
    object-fit: cover;
    height: 100px;
    width: 100px;
    cursor: pointer;
  }
  .ogEmbedTitle {
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
  }
  .ogEmbedDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
    -webkit-box-orient: vertical;
    font-size: 12px;
  }
}


.uploadProgress {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.02);
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 8px;

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .size {
    opacity: 0.5;
  }
  .progressBarContainer {
    height: 10px;
    width: 100%;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 18px;
    overflow: hidden;
    .currentProgress {
      height: 100%;
      background-color: var(--primary-color);
    }
  }
}


@keyframes goUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.serverInviteEmbed {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.02);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  gap: 6px;
  flex-shrink: 0;
  height: 50px;
  max-width: 300px;

  .serverInviteLoading {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .serverInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    
  }

  .serverName {
    display: flex;
    align-items: center;

    gap: 4px;
    overflow: hidden;

  }
  .serverNameOnly {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;

  }
  .serverMemberCount {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }

}

.audioEmbed {
  flex-direction: column;

  &.preloadedAudio {
    height: 80px;
  }

  .audioDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  .time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
  .progressBar {
    height: 10px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 9999px;
    overflow: hidden;
    .progress {
      height: 100%;
      background-color: var(--primary-color);
      border-radius: 9999px;
    }
  }

  .innerAudioEmbed {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 200px;
    max-width: 500px;
    overflow: hidden;
  }

}
.fileEmbed	{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.02);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  height: 42px;
  padding: 5px;
  gap: 4px;
  min-width: 200px;
  max-width: 500px;
  
  overflow: hidden;



  .fileEmbedDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
  .fileEmbedName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-line;
    line-break: anywhere;
  }
  .fileEmbedSize {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }

}


.youtubeEmbed {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.02);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;

  width: min-content;
  .video {
    position: relative;
    background-color: black;
    margin: 5px;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
  }
  .playButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 1111;
    cursor: pointer;
  }
  .playButton {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.86);
    backdrop-filter: blur(34px);
    border-radius: 6px;
  }

  .youtubeEmbedDetails {
    margin: 8px;
    margin-top: 4px;

    .title {
      font-weight: bold;
      
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .info {
      margin-top: 2px;
      margin-bottom: 4px;
      .date {
        opacity: 0.8;
      }
    }
    .description {
      opacity: 0.6;
      font-size: 12px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}



.videoEmbed {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.02);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  min-width: 200px;
  max-width: 500px;

  max-height: 500px;
  overflow: hidden;
  .videoInfo {
    display: flex;
    padding: 5px;
    gap: 4px;
    overflow: hidden;
    align-items: center;
    height: 42px;
    flex-shrink: 0;

    .fileEmbedDetails {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
    }
    .fileEmbedName {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-line;
      line-break: anywhere;
    }
    .fileEmbedSize {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .video {
    position: relative;
    background-color: black;
    margin: 5px;
    margin-top: 0;
    overflow: hidden;
    border-radius: 6px;
    aspect-ratio: 16 / 9;
  }
  .playButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 1111;
    cursor: pointer;
  }
  .playButton {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.86);
    backdrop-filter: blur(34px);
    border-radius: 6px;
  }
}
