:global body.disableBlur {
  :local {
    .floatOptions {
      background-color: rgb(40, 40, 40);
      backdrop-filter: none;
    }
  }
}

.newDayMarker {
  align-self: center;
  padding: 6px;
  margin-top: 10px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}

.translationArea {
  display: flex;

  overflow: hidden;
  align-self: flex-start;
  flex-direction: column;
  padding: 10px;
  margin-right: 6px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  word-break: break-word;
  white-space: pre-line;
  font-size: 14px;
  gap: 4px;
  .title {
    font-size: 16px;
    font-weight: bold;
    .translationSource {
      opacity: 0.6;
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.username {
  overflow: hidden;
  line-height: 1;
  text-overflow: ellipsis;
}

.floatOptions {
  position: absolute;
  z-index: 1111;
  top: -18px;
  right: 10px;
  display: flex;
  display: none;
  align-items: center;
  padding: 2px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: rgba(40, 40, 40, 0.86);
  backdrop-filter: blur(34px);
  .floatDate {
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-right: solid 1px rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    padding: 2px;
    border-radius: 6px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      background-color: rgb(78, 78, 78);
      .icon {
        color: var(--primary-color);
      }
    }
    .icon {
      user-select: none;
      transition: 0.2s;
    }
  }
}

.systemMessage {
  display: flex;
  overflow: hidden;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  gap: 5px;
  span {
    word-break: break-word;
    white-space: pre-line;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding-right: 6px;
    padding-left: 6px;
    .icon {
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.6);
      &.logoutIcon {
        rotate: 180deg;
      }
    }
  }
  .date {
    margin-left: 6px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }
}

.replies {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 8px;
  margin-left: 12px;
  .replyItem {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 26px;
    padding-left: 32px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    font-size: 14px;
    gap: 8px;

    &:hover {
      opacity: 0.6;
    }
    .line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 13px;
      width: 2px;
      background-color: var(--primary-color);
      &:not(.first) {
        &::before {
          position: absolute;
          top: 14px;
          left: 14px;
          width: 8px;
          height: 4px;
          border-radius: 99px;
          background-color: var(--primary-color);
          content: "";
        }
      }
      &.first {
        top: 14px;

        &::before {
          position: absolute;
          top: 0;
          width: 28px;
          height: 2px;
          background-color: var(--primary-color);
          content: "";
        }
      }
    }
    .replyContentContainer {
      display: flex;
      overflow: hidden;
      align-items: center;
      margin-left: 14px;
      gap: 4px;

      .replyUsername {
        overflow: hidden;
        flex-shrink: 0;
        max-width: 200px;
        line-height: 1;
        opacity: 0.6;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
      .replyContent {
        overflow: hidden;
        opacity: 0.6;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        :global .markup {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.messageItem {
  position: relative;
  display: flex;
  align-items: start;
  flex-shrink: 0;

  padding: 3px;
  padding-right: 10px;
  padding-left: 6px;
  margin-top: 10px;
  gap: 5px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
    .floatOptions {
      display: flex;
    }
  }
  &.mentioned {
    background-color: rgba(255, 149, 149, 0.1);
    &:before {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 0;
      width: 5px;
      border-radius: 8px;
      background-color: var(--alert-color);
      content: "";
    }
  }
  &.someoneMentioned {
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.2) 0%,
      rgba(255, 165, 0, 0.2) 20%,
      rgba(255, 255, 0, 0.2) 40%,
      rgba(0, 255, 0, 0.2) 60%,
      rgba(0, 0, 255, 0.2) 80%,
      rgba(136, 0, 130, 0.2) 100%
    );
  }

  .blockedMessage {
    padding-left: 56px;
    opacity: 0.6;
    cursor: pointer;
    font-size: 14px;
  }
  .blockedMessage.compact {
    padding-left: 0;
  }

  .avatar {
    align-self: flex-start;
    margin-right: 6px;
    margin-left: 6px;
  }
}

.reactions {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
body .reactionItem {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.05);
  &.reacted {
    background-color: rgba(255, 255, 255, 0.16);
    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }
  .emoji {
    width: 1.4em;
    height: 1.4em;
    margin-right: 3px;
    border-radius: 4px;
    object-fit: contain;
  }
}

.whoReactedModal {
  position: absolute;
  z-index: 11111;
  top: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: rgba(40, 40, 40, 0.86);
  backdrop-filter: blur(34px);
}

.whoReactedItem {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  gap: 5px;
}
.whoReactedPlusCount {
  margin-bottom: 5px;
  opacity: 0.6;
  text-align: center;
  font-size: 12px;
}

.messageInner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messageInnerInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.messageInnerInnerInner {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.details .ownerBadge {
  padding: 2px;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: 12px;
}

.details .date {
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.content {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  white-space: pre-line;
  font-size: 14px;
}

.compact {
  padding-top: 3px;
  padding-left: 63px;
  margin-top: 0px;
}

.sentStatus {
  display: inline-block;
  .icon {
    margin-left: 2px;
    vertical-align: -2.5px;
  }
}

.embeds {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.ogEmbedContainer {
  display: flex;
  max-width: 500px;
  padding: 5px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  gap: 5px;

  &.largeImage {
    flex-direction: column-reverse;
    .ogEmbedImage {
      width: 100%;
      max-width: 200px;
      height: 100%;
      max-height: 200px;
    }
  }

  .ogEmbedImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    cursor: pointer;
    .playButton {
      position: absolute;
      z-index: 11;
      padding: 10px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.86);
      backdrop-filter: blur(34px);
    }
  }

  .ogEmbedImage {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
  }
  .ogEmbedTitle {
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ogEmbedDescription {
    display: -webkit-box;
    overflow: hidden;
    font-size: 12px;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.uploadProgress {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  .attachmentDetailsInner {
    display: flex;
    overflow: hidden;
    flex: 1;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2px;
  }
  .attachmentDetails {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .otherDetails {
    display: flex;
    justify-content: space-between;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .size {
    opacity: 0.5;
    font-size: 14px;
  }
  .speed {
    opacity: 0.5;
    font-size: 14px;
    font-variant-numeric: tabular-nums;
  }
  .progressBarContainer {
    overflow: hidden;
    width: 100%;
    height: 6px;
    margin-top: 5px;
    border-radius: 99999px;
    background-color: rgba(0, 0, 0, 0.6);
    .currentProgress {
      height: 100%;
      border-radius: 99999px;
      background-color: var(--primary-color);
    }
  }
}

@keyframes goUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.serverInviteEmbed {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 300px;
  height: 50px;
  padding: 5px;
  padding-left: 10px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  gap: 6px;

  .serverInviteLoading {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    gap: 10px;
  }

  .serverInfo {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 4px;
  }

  .serverName {
    display: flex;
    overflow: hidden;
    align-items: center;

    gap: 4px;
  }
  .serverNameOnly {
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .serverMemberCount {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    gap: 4px;
  }
}

.audioEmbed {
  flex-direction: column;

  &.preloadedAudio {
    height: 80px;
  }

  .audioDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }
  .time {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
  }
  .progressBar {
    overflow: hidden;
    width: 100%;
    height: 10px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.1);
    .progress {
      height: 100%;
      border-radius: 9999px;
      background-color: var(--primary-color);
    }
  }

  .innerAudioEmbed {
    display: flex;
    overflow: hidden;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
    gap: 4px;
  }
}

.fileEmbed {
  display: flex;

  overflow: hidden;
  flex-direction: column;
  min-width: 200px;
  max-width: 500px;
  height: 36px;
  padding: 5px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  gap: 4px;
  &.willExpire {
    height: 54px;
  }

  .fileEmbedErrorContainer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 36px;
    gap: 4px;
  }
  .expiresAt {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4px;
    margin-left: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    gap: 4px;
  }

  .fileEmbedContainer {
    display: flex;
    align-items: center;
  }

  .fileEmbedActions {
    display: flex;
    gap: 4px;
  }

  .fileEmbedDetails {
    display: flex;
    overflow: hidden;
    flex: 1;
    flex-direction: column;
  }
  .fileEmbedName {
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-line;
    line-break: anywhere;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .fileEmbedSize {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }
}

.youtubeEmbed {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: min-content;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
  .video {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 5px;
    border-radius: 6px;
    background-color: black;
  }
  .playButtonContainer {
    position: absolute;
    z-index: 1111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    inset: 0;
  }
  .playButton {
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.86);
    backdrop-filter: blur(34px);
  }

  .youtubeEmbedDetails {
    margin: 8px;
    margin-top: 4px;

    .title {
      display: -webkit-box;

      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .info {
      margin-top: 2px;
      margin-bottom: 4px;
      .date {
        opacity: 0.8;
      }
    }
    .description {
      display: -webkit-box;

      overflow: hidden;
      opacity: 0.6;
      text-overflow: ellipsis;
      font-size: 12px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.videoEmbed {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  min-width: 200px;
  max-width: 500px;

  max-height: 500px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);

  .expiresAt {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4px;
    margin-left: 6px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    gap: 4px;
  }
  .videoInfo {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    height: 42px;
    padding: 5px;
    gap: 4px;

    .fileEmbedDetails {
      display: flex;
      overflow: hidden;
      flex: 1;
      flex-direction: column;
    }
    .fileEmbedName {
      display: -webkit-box;
      overflow: hidden;
      white-space: pre-line;
      line-break: anywhere;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .fileEmbedSize {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
    }
  }
  .video {
    position: relative;
    overflow: hidden;
    margin: 5px;
    margin-top: 0;
    border-radius: 6px;
    background-color: black;
    aspect-ratio: 16 / 9;
  }
  .playButtonContainer {
    position: absolute;
    z-index: 1111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    inset: 0;
  }
  .playButton {
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.86);
    backdrop-filter: blur(34px);
  }
}
