.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  user-select: none;
  transition: 0.2s;
  gap: 5px;

  .serverName {
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .showMoreIcon {
    margin: 0;
    margin-right: 6px;
    margin-left: auto;
  }
}
