

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 45px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
  align-items: center;
  user-select: none;
  transition: 0.2s;
  padding-left: 10px;
  z-index: 11111;
  background-color: rgba(48, 48, 48, 0.4);
  backdrop-filter: blur(20px);
}

.toggleLeftDrawerContainer {
  position: relative;
}

.notificationCounter {
  position: absolute;
  right: 0;
  top: -4px;
  min-width: 15px;
  height: 15px;
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--alert-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  margin-left: 10px;
  overflow: hidden;
}

.title {
  font-size: 12px;
  margin-right: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subTitle {
  opacity: 0.6;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.icon.hasAvatar {
  position: absolute;
  z-index: 1;;
  font-size: 11px;
  left: 25px;
  top: 26px;
  text-shadow: 0px 0px 5px black;
  z-index: 1111;
}


.rightIcons {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  padding-left: 5px;

}

.drawerIcon {
  height: 100%;
  display: flex;
  padding-left: 5px;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  padding-right: 5px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.isMobile {
  padding-left: 0;
  .icon.hasAvatar {
    left: 66px;
  }
}

.headerVoiceParticipants {
  position: sticky;
  top:46px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
  align-items: center;
  user-select: none;
  padding-left: 10px;
  z-index: 11111;
  background-color: rgba(48, 48, 48, 0.4);
  backdrop-filter: blur(20px);
  padding-left: 10px;
  padding-right: 10px;
  resize: vertical;
  min-height: 100px;
  overflow: auto;


  .voiceParticipantItem {
    position: relative;
    .muteIcon {
      position: absolute;
      bottom: -3px;
      right: -3px;
      background-color: var(--alert-color);
      border-radius: 50%;
      padding: 5px;
    }
    .videoStreamIcon {
      position: absolute;
      bottom: -10px;
      left: -10px;
      background-color: var(--primary-color);
      border-radius: 50%;
      padding: 3px;
    }
    &.selected {
      background-color: rgba(255,255,255,0.2);
    }
  }

  .top {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1;
  }
  .voiceParticipants {
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &.videoStream {
    display: flex;
    height: 60vh;
    padding-left: 0;
    padding-right: 0;
    .voiceParticipants {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 80px;
      align-self: flex-start;
      justify-content: start;
      margin-left: 5px;
    }  
    .voiceParticipantItem {
      display: flex;
      width: 100%;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 6px;
      justify-content: center;
      transition: 0.2s;
      .muteIcon {
        padding: 3px;
        bottom: 0px;
        right: 0px;
      }
      .videoStreamIcon {
        padding: 3px;
        left: 0px;
        bottom: 0px;
      }
      &:hover {
        background-color: rgba(255,255,255,0.1);
      }
    }
  }

  
  &.miniView {
    resize: none;
    height: initial;
    min-height: initial;
  }

  .videoContainer {
    background-color: black;
    width: 100%;
    margin: 5px;
    border-radius: 8px;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .voiceActions {
    display: flex;
    flex-shrink: 0;
  }
}


.mentionListContainer {
  position: absolute;
  max-width: 400px;
  width: calc(100% - 30px);
  top: 60px;
  max-height: 500px;
  z-index: 1111111111111;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--pane-color);
  border: solid 1px rgba(255, 255, 255, 0.2);
  overflow: auto;
  right: 5px;
  &.mobile {
    max-height: initial;
    max-width: initial;
    width: initial;
    width: initial;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 50px;
  }
  .noMentions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
    padding-bottom: 50px;
  }
  .mentionServerHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.326);
    gap: 10px;
    margin-top: 10px;
  }
}