:global body.disableBlur {
  :local {
    .header {
      background-color: var(--header-background-color-blur-disabled);
      backdrop-filter: none;
    }
  }
}

.header {
  position: sticky;
  z-index: 11111;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50px;
  box-sizing: border-box;

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);

  background-color: var(--header-background-color);
  user-select: none;
  transition: 0.2s;
  backdrop-filter: blur(34px);
  .avatar {
    position: relative;
    z-index: 1;
  }
  .icon {
    position: relative;
    z-index: 1111111111111111111111111111111111111;
  }
  .icon.hasAvatar {
    left: 70px;
  }
}

.toggleLeftDrawerContainer {
  position: relative;
}

.notificationCounter {
  position: absolute;
  top: -4px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  background-color: var(--alert-color);
  font-size: 12px;
}

.details {
  overflow: hidden;
  margin-left: 10px;
}

.title {
  overflow: hidden;
  margin-right: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.subTitle {
  overflow: hidden;
  overflow: hidden;
  opacity: 0.6;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: nowrap;
  font-size: 12px;
}

.icon.hasAvatar {
  position: absolute;
  z-index: 1;
  z-index: 1111;
  top: 26px;
  left: 25px;
  text-shadow: 0px 0px 5px black;
  font-size: 11px;
}

.rightIcons {
  display: flex;
  padding-left: 5px;
  margin-right: 4px;
  margin-left: auto;
}

.drawerIcon {
  display: flex;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.mentionListContainer {
  position: absolute;
  z-index: 1111111111111;
  top: 60px;
  right: 5px;
  overflow: auto;
  width: calc(100% - 30px);
  max-width: 400px;
  max-height: 500px;
  padding: 8px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: var(--pane-color);
  &.mobile {
    top: 50px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: initial;
    width: initial;
    max-width: initial;
    max-height: initial;
  }
  .noMentions {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
  }
  .mentionServerHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.326);
    gap: 10px;
    .mentionHeaderDetails {
      display: flex;
      flex-direction: column;
    }
  }
  .messageContainer {
    position: relative;
    .messageOverlay {
      position: absolute;
      z-index: 11111;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      inset: 0;
      &:hover {
        opacity: 1;
      }
    }
    .jumpToMessage {
      position: absolute;
      z-index: 111111111;
      top: 4px;
      right: 4px;
      padding: 4px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      font-size: 14px;
    }
  }
}
