:global body.disableBlur {
  :local {
    .header {
      background-color: var(--header-background-color-blur-disabled);
      backdrop-filter: none;
    }
    .headerVoiceParticipants {
      background-color: var(--header-background-color-blur-disabled);
      backdrop-filter: none;
    }
  }
}

.header {
  position: fixed;
  z-index: 11111;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: var(--header-height);
  box-sizing: border-box;

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);

  background-color: var(--header-background-color);
  user-select: none;
  transition: 0.2s;
  backdrop-filter: blur(34px);
  .avatar {
    position: relative;
    z-index: 1;
  }
  .icon {
    position: relative;
    z-index: 1111111111111111111111111111111111111;
  }
  .icon.hasAvatar {
    left: 70px;
  }
}

.toggleLeftDrawerContainer {
  position: relative;
}

.notificationCounter {
  position: absolute;
  top: -4px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  background-color: var(--alert-color);
  font-size: 12px;
}

.details {
  overflow: hidden;
  margin-left: 10px;
}

.title {
  overflow: hidden;
  margin-right: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.subTitle {
  overflow: hidden;
  overflow: hidden;
  opacity: 0.6;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: nowrap;
  font-size: 12px;
}

.icon.hasAvatar {
  position: absolute;
  z-index: 1;
  z-index: 1111;
  top: calc(var(--header-height) / 2);
  left: 25px;
  text-shadow: 0px 0px 5px black;
  font-size: 11px;
}

.rightIcons {
  display: flex;
  padding-left: 5px;
  margin-right: 4px;
  margin-left: auto;
}

.drawerIcon {
  display: flex;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}



.headerVoiceParticipants {
  position: sticky;
  z-index: 11111;
  /* hide header margin and border when scrolled */
  top: calc(-1 * var(--header-gap) - 1px);
  right: 0;
  left: 0;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  background-color: var(--header-background-color);
  resize: vertical;
  user-select: none;
  backdrop-filter: blur(34px);
  &.videoStream {
    display: flex;
    height: 60vh;
    padding-right: 0;
    padding-left: 0;
    .voiceParticipants {
      align-self: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: start;
      width: 80px;
      height: 100%;
      box-sizing: border-box;
      margin-left: 5px;
    }
    .voiceParticipantItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 6px;
      transition: 0.2s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      .muteIcon {
        right: 0px;
        bottom: 0px;
        padding: 3px;
      }
      .videoStreamIcon {
        bottom: 0px;
        left: 0px;
        padding: 3px;
      }
    }
  }

  &.miniView {
    height: initial;
    min-height: initial;
    resize: none;
  }

  .voiceParticipantItem {
    position: relative;
    &.disconnected {
      opacity: 0.2;
    }
    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .muteIcon {
      position: absolute;
      z-index: 111111;
      right: -3px;
      bottom: -3px;
      padding: 5px;
      border-radius: 50%;
      background-color: var(--alert-color);
    }
    .videoStreamIcon {
      position: absolute;
      z-index: 11111;
      bottom: -10px;
      left: -10px;
      padding: 3px;
      border-radius: 50%;
      background-color: var(--primary-color);
    }
  }

  .top {
    display: flex;
    overflow: hidden;
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .voiceParticipants {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 20vh;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
  }

  .videoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 5px;
    border-radius: 8px;
    background-color: black;
    &:hover {
      .videoOverlay {
        transform: translateY(0);
      }
    }
    video {
      width: 100%;
      height: 100%;
    }
    .videoOverlay {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      padding: 6px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.2s;
      transform: translateY(100%);
      gap: 4px;
    }
    .volumeSlider {
      display: flex;
      padding-right: 6px;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.1);
      gap: 2px;

      button {
        border: none;
        background-color: transparent;
      }
    }
  }
  .voiceActions {
    display: flex;
    flex-shrink: 0;
  }
}

.mentionListContainer {
  position: absolute;
  z-index: 1111111111111;

  top: calc(var(--header-height) + 10px);
  right: 5px;
  overflow: auto;
  width: calc(100% - 30px);
  max-width: 400px;
  max-height: 500px;
  padding: 8px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: var(--pane-color);
  &.mobile {
    top: 50px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: initial;
    width: initial;
    max-width: initial;
    max-height: initial;
  }
  .noMentions {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
  }
  .mentionServerHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.326);
    gap: 10px;
    .mentionHeaderDetails {
      display: flex;
      flex-direction: column;
    }
  }
  .messageContainer {
    position: relative;
    .messageOverlay {
      position: absolute;
      z-index: 11111;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      inset: 0;
      &:hover {
        opacity: 1;
      }
    }
    .jumpToMessage {
      position: absolute;
      z-index: 111111111;
      top: 4px;
      right: 4px;
      padding: 4px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      font-size: 14px;
    }
  }
}
