

.tab {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  user-select: none;
  transition: 0.2s;

  .details {
    margin-left: 10px;
    overflow: hidden;
  }

  .title {
    font-size: 12px;
    margin-right: 1px;
  }

  .subTitle {
    opacity: 0.6;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
  }


  .icon {
    &.hasAvatar {
      position: absolute;
      font-size: 11px;
      left: 25px;
      top: 23px;
      text-shadow: 0px 0px 5px black;
    }
  }
}