.tabs {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  height: 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  padding-left: 2px;
  padding-right: 2px;
  flex-shrink: 0;
}


.tab {
  position: relative;
  display: flex;
  min-width: 60px;
  flex: 1;
  align-items: center;
  border-radius: 4px;
  margin: 3px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 2px;
  cursor: pointer;
  user-select: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s;
  font-style: italic;
  text-decoration: none;
  
  &.opened {
    font-style: normal;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 1px;
  //   bottom: 1px;
  //   left: -2.6px;
  //   right: -4px;
  //   border-left: solid 1px rgba(255, 255, 255, 0.3);
  //   pointer-events: none;
  //   transition: 0.2s;
  // }

  // &:first-child::after {
  //   border-left: solid 1px rgba(255, 255, 255, 0.0);
  // }

  // &.selected {
  //   &:after {
  //     border-left: solid 1px rgba(255, 255, 255, 0.0);
  //   }
    
  //   + .tab:after {
  //     border-left: solid 1px rgba(255, 255, 255, 0.0);
  //   }
  // }


  &:hover {
    background-color: rgba(255, 255, 255, 0.10);
  }

  
  
  &.selected {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    .closeIcon {
      opacity: 1;
    }
  }

  .details {
    margin-left: 5px;
    overflow: hidden;
  }

  .title {
    font-size: 12px;
  }

  .subTitle {
    opacity: 0.6;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
  }


  .icon {
    &.hasAvatar {
      position: absolute;
      font-size: 11px;
      left: 21px;
      top: 21px;
      text-shadow: 0px 0px 5px black;
    }
  }

  .closeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    margin-right: 0;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);     
    }
  }
}