.container {
  display: flex;
  flex-direction: column;
  user-select: none;

  overflow: auto;

  gap: 4px;
}
.items {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  .item {
    height: 32px;
    padding-left: 8px;
    font-size: 14px;
    gap: 6px;
  }
}
.separator {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  margin: auto;
}

.inbox,
.friends {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding-bottom: 2px;
  padding-top: 8px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    a {
      font-size: 12px;
    }
  }
  .friendsList {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .addFriend {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    margin: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      color: white;
    }
  }
}
