.container {
  display: flex;

  overflow: auto;
  flex-direction: column;
  padding-bottom: 4px;
  user-select: none;

  gap: 4px;
}
.items {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-left: 4px;
  gap: 2px;
  .item {
    height: 32px;
    padding-left: 8px;
    font-size: 14px;
    gap: 6px;
    &:hover .label {
      opacity: 1;
    }

    &.selected .label {
      opacity: 1;
    }
    .label {
      opacity: 0.6;
      transition: 0.2s;
    }
  }
}
.separator {
  width: 90%;
  height: 1px;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.inbox,
.friends {
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 400;
    a {
      font-size: 12px;
    }
  }
  .friendsList {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .addFriend {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    gap: 8px;
    &:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

.blockedUsersModal {
  width: 500px;
}
.blockedUsersList {
  overflow: auto;
  max-height: 50vh;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  opacity: 0.6;
  cursor: pointer;
  font-size: 12px;
  gap: 8px;
  &:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
