.dropDown {
  position: relative;
  user-select: none;
  font-size: 14px;
}

.title {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  opacity: 1;
}

.box {
  display: flex;
  align-items: center;
  position: relative;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  height: 20px;
  border-radius: 8px;
  .expandIcon {
    margin-left: auto;
    color: rgba(255, 255, 255, 0.7);
  }
  cursor: pointer;
}

.details {
  display: flex; 
  flex-direction: column;
  width: 100%;
  .label {
    display: flex;
    width: 100%;
    align-items: center;
  }

}

.description {
  opacity: 0.6;
  font-size: 12px;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  user-select: none;


  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.86);
  border-radius: 8px;
  backdrop-filter: blur(34px);
  z-index: 111111111111;
  max-height: 300px;
  overflow: auto;

  .item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    height: 17px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;


    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 3px;
      border-radius: 3px;
      height: 15px;
      transition: 0.2s;
    }  
    &.selected:after {
      background-color: var(--primary-color);
    } 
    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

}

.itemTemplate {
  display: flex;
  align-items: center;
  width: 100%;
}
.circleColor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 5px;
}