.remindersModalRoot {
  width: 600px;
  min-height: 200px;
  max-height: 80vh;
}

.remindersModalBody {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

.reminderList {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 4px;
}
.reminderItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  padding: 8px;

  border: solid 1px rgba(255,255,255,0.2);

  border-radius: 8px;
  &.active {
    border: solid 1px var(--alert-color);
  }

  .dateContainer {
    opacity: 0.6;
    font-size: 14px;
  }
  .reminderTimestamp {
    margin-top: 6px;
    margin-left: 6px;
    user-select: none;
    pointer-events: none;
  }
  .messageItem {
    background-color: transparent;
    user-select: none;
    pointer-events: none;
    padding: 0;
    margin: 0;
    &:before {
      border: none;
    }
    :global {
      .postDetailsContainer {
        display: none;
      }
      .postInnerContainer {
        margin: 0;
        padding: 0;
        gap: 0;
      }
      .postInnerInnerContainer {
        margin: 0;
        padding: 0;
      }
      .avatar {
        display: none;
      }
      .postActions {
        display: none;
      }
      .details {
        display: none;
      }
    }
  }
  .reminderDeleted {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    height: 38px;
    color: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 14px;
  }

  .reminderActions {
    display: flex;

    gap: 6px;

    .button {
      justify-self: stretch;
    }
  }
}