
:global body.disableBlur {
  :local {
    .container {
      background-color: black;
      backdrop-filter: none;
    }    
  }
}
.container {
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 2px;
  border: solid 1px rgba(255, 255, 255, 0.2);

  background-color: rgba(0, 0, 0, 0.86);
  backdrop-filter: blur(34px);


  border-radius: 6px;
  height: 30px;
  flex-shrink: 0;
  margin-bottom: 1px;


}


.emojiPickerContainer {
  position: absolute;
  z-index: 11111111111;

}

.button {
  width: 16px;
  height: 16px;
}
.colorBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.datePickerModal {
  display: flex;
  align-items: center;
  justify-content: center; 
}