.usersPage {
  display: flex;
  flex-direction: column;
}
.nameField {
  display: flex;
  align-items: center;
  gap: 8px;
}


.tagsField {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .tag {
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    background-color: var(--color);
    font-size: 12px;
  }
}


.filtersContainer {
display: flex;
flex-direction: column;
margin-bottom: 10px;
gap: 8px;
}
.filters {
  display: flex;
}