.breadcrumb {
  padding: 10px;
  padding-bottom: 0;
}

.tabs {
  display: flex;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  gap: 4px;
  .tabItem {
    padding: 6px;
    font-size: 14px;
  }
}
.channelPane {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.error {
  margin-top: 5px;
  color: var(--alert-color);
  font-size: 12px;
}

.saveButton {
  align-self: flex-end;
}

.permissionItem {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &:not(:last-child) {
    margin-bottom: 1px;
    border-radius: 0;
  }
}

.slowdownInput {
  width: 84px;
}
