.backgroundContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 111111111111;
}


.modalContainer {
  background-color: var(--pane-color);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  overflow: hidden;
  align-self: center;

  &.mobile {
    width: 100%;
    max-width: initial;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    align-self: flex-end;
  }

}

.body {
  overflow: hidden;
  animation: showUp;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  opacity: 1;
  padding: 5px;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 30px;
  flex-shrink: 0;

  .title {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold; 
    margin-right: 12px;
  }

  .closeButton {
    margin-left: auto;
  }
}

.icon {
  opacity: 0.7;
  margin-right: 7px;
}

.actionButtons {
  display: flex;
}

@keyframes showUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}