.background {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1111;
}

.container {
  padding: 20px;
  background-color: var(--background-color);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.innerContainer {
  animation: showUp;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.topBar {
  margin-bottom: 10px;
}
.title {
  font-size: 22px;
  font-weight: bold;
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}