:global body .clr-picker {
  width: 100%;
  min-width: 200px;
}
:global .clr-picker .clr-gradient {
  height: 60vh;
  max-height: 500px;
}

:global #coloris {
  display: flex;
  justify-content: center;
  width: 100%;
}

.desktopModalStyle {
  width: 100%;
}

.colorPicker {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  &:before {
    position: absolute;
    z-index: 1;
    content: "";
    transition: 0.2s;
    inset: 0;
  }
  &:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .icon {
    position: relative;
    z-index: 1111;
  }
}

.colorPickerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.gradientSlider {
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
  touch-action: none;
  .gradientSliderInner {
    width: 100%;
    height: 100%;
    cursor: copy;
  }
  .colorStop {
    position: absolute;
    top: -6px;
    bottom: -6px;
    width: 8px;
    border: solid 1px white;
    border-radius: 2px;
    &.active,
    &:hover {
      border-width: 2px;
    }
  }
}
