:global body .clr-picker {
  max-width: 500px;
  width: 100vw;
  min-width: 200px;
}
:global .clr-picker .clr-gradient {
  max-height: 500px;
  height: 60vh;
}





.colorPicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    transition: 0.2s;
  }
  &:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .icon {
    position: relative;
    z-index: 1111;
  }
}


.colorPickerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}