.homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body {
  padding-top: 90px;
}

.homePageArt {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
  opacity: 0.02;
}


.topArea {
  display: flex;
  align-items: center;
  height: 400px;
  margin-left: 40px;
}

.detailsPane {
  .title {
    font-size: 60px;
  }
  .slogan {
    margin-top: 10px;
    opacity: 0.7;
  }
  .buttons {
    margin-top: 10px;;
    display: flex;
    margin-left: -5px;
    a {
      text-decoration: none;
      div {
        width: 130px;
      }
    }
  }
}

@media (orientation: portrait) {
  .homePageArt  {
    width: 100%;
    height: auto;
  }
}