.container {
  max-width: 450px;
  margin: 6px;
  margin-top: 0;
  word-break: break-word;
}

.message {
  font-size: 16px;
}

.messageDim {
  font-size: 16px;
  opacity: 0.6;
}

.suspendContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}