.notificationCount {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  color: white;
  background-color: var(--alert-color);
  font-size: 12px;
}

.requestButtons {
  display: flex;
  flex-shrink: 0;
  margin-right: 4px;
  margin-left: 4px;
  gap: 3px;
  .button {
    padding: 5px;
    margin: 0;
    background-color: transparent;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.requestItem {
  padding: 3px;
  padding-left: 10px;
}

.details {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-right: auto;
  margin-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;

  gap: 4px;
  a {
    pointer-events: none;
  }
}

.removeFriendRequestModal {
  width: 300px;
  user-select: none;
  .removeFriendRequestBody {
    font-size: 14px;
  }
}

.friendContainer {
  justify-content: start;
  height: 40px;
  padding-left: 10px;

  &:hover .username {
    opacity: 1;
  }
  &[data-selected="true"] .username {
    opacity: 1;
  }

  .username {
    line-height: 1;
    line-height: var(--lh);
    opacity: 0.6;
    transition: 0.2s;
    letter-spacing: var(--ls);
    font-family: var(--font);
    font-size: calc(14px * var(--scale, 1));
  }
  :global .itemContent {
    align-items: center;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    gap: 0;
  }
}
