.membersList {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
  padding-top: 5px;
}

.roleItem {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
  gap: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 5px;
}

.memberItem {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  .memberInfo {
    margin-left: 5px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
