.drawerContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  height: 100%;
  padding-bottom: 5px;
}


.roleName {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 3px;
  margin-top: 3px;
}
.roleItem {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
  gap: 3px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;

  .memberItem:empty {
    display: none;
  }

}

.memberItem {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
  .memberInfo {
    margin-left: 5px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}