.container {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  position: relative;
  transition: 0.4s ease;

}

.hover {
  transform: scale(.8);
}

.border {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  z-index: 1111;
  transform: scale(1.14);
  user-select: none;
  pointer-events: none;
}

.rawAvatar {
  position: absolute;
  border-radius: 30%;
  inset: 0;
  overflow: hidden;
  transform: scale(.9);
  z-index: 111;
}
.background {
  position: absolute;
  inset: 0;
  user-select: none;
  z-index: -1;
}
.wing {
  z-index: 11;
  height: 60%;
  position: absolute;
  transition: 0.4s ease;
  user-select: none;
  pointer-events: none;

}

.hover .wing {
  opacity: 1;
}
.hover .leftWing {
  left: -30%;
}
.hover .rightWing {
  right: -30%;

}
.leftWing {
  left: 30%;
  opacity: 0;
}

.rightWing {
  right: 30%;
  opacity: 0;
}