.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  transition: 0.4s ease;
  aspect-ratio: 1/1;
}

.hover {
  transform: scale(0.8);
}

.border {
  position: absolute;
  z-index: 1111;
  width: 100%;
  height: 100%;
  user-select: none;
  transform: scale(1.14);
  pointer-events: none;
  object-fit: contain;
}

.rawAvatar {
  position: absolute;
  z-index: 111;
  overflow: hidden;
  border-radius: 34%;
  transform: scale(0.94);
  inset: 0;
}
.background {
  position: absolute;
  z-index: -1;
  user-select: none;
  inset: 0;
}
.wing {
  position: absolute;
  z-index: 11;
  height: 60%;
  user-select: none;
  transition: 0.4s ease;
  pointer-events: none;
}

.hover .wing {
  opacity: 1;
}
.hover .leftWing {
  left: -30%;
}
.hover .rightWing {
  right: -30%;
}
.leftWing {
  left: 30%;
  opacity: 0;
}

.rightWing {
  right: 30%;
  opacity: 0;
}
