.s0 { fill: url(#g1) } 
.s1 { fill: url(#g2) } 
.s2 { fill: url(#g3) } 
.s3 { fill: url(#g4) } 
.s4 { fill: url(#g5) } 
.s5 { fill: url(#g6) } 
.s6 { fill: url(#g7) } 
.s7 { fill: url(#g8) } 
.s8 { fill: url(#g9) } 
.s9 { fill: url(#g10) }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container.hovered {
  transform: scale(0.8)
}


.s0,
.s1,
.s2 {
  opacity: 0;
  /* animation: rightWingsOut 0.4s ease forwards; */
  transform: translateX(-30%);
  transition: 0.4s;
}

.s3,
.s4,
.s5 {
  opacity: 0;
  transform: translateX(30%);
  
  transition: 0.4s;
}

.container.hovered .s0,
.container.hovered .s1,
.container.hovered .s2 {
  transform: translateX(0%);
  opacity: 1;
}


.container.hovered .s3,
.container.hovered .s4,
.container.hovered .s5 {
  transform: translateX(0%);
  opacity: 1;
}
