.drawerContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  height: 100%;
  padding-bottom: 5px;
}


.roleTitle {
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  .roleName {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
  }
  user-select: none;
  &:hover .roleName {
    color: white;
  }
  .roleExpandButton {
    margin-left: auto;
  }
}
.roleItem {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
  gap: 3px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;

  .memberItem:empty {
    display: none;
  }

}


.attachmentList {
  gap: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(65px,1fr));

  .attachmentImage {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
  }
  .attachmentImageContainer {
    display: flex;
    border-radius: 8px;
    aspect-ratio: 1/1;
    position: relative;


    .attachmentHover {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 8px;
      cursor: pointer;
      opacity: 0;
      transition: 0.1s;
      border: solid 1px var(--primary-color);
    }

    
    &:hover {
      .attachmentHover {
        opacity: 1;
      }
    }
  
    


    &.gif:after {
      content: "GIF";
      position: absolute;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(10px);
      padding: 3px;
      top: 3px;
      font-size: 12px;
      left: 3px;
    }
    .fileAttachment {
      aspect-ratio: 1/1;

      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.05);
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}


.memberItem {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
  overflow: hidden;
  user-select: none;
  padding-left: 8px;
  .memberInfo {
    margin-left: 8px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .memberInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}