.messageLogArea {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  flex: 1;
  height: 100%;
  padding-bottom: 30px;
}




.unreadMarkerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    position: absolute;
    content: "";
    background-color: var(--alert-color);
    height: 1px;
    left: 0;
    right: 0;
  }
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
  }
}

.unreadMarker {
  display: flex;
  position: relative;
  gap: 5px;
  align-items: center;
  align-self: center;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
  background-color: var(--alert-color);
  margin-left: 3px;
  cursor: pointer;
  user-select: none;

  .closeButton {
    border-radius: 4px;
    padding: 0;
    margin: 0;
    span {
      font-size: 13px;
    }
  }
}



.viewReactionsModal {
  display: flex;
  flex-direction: column;
}
.viewReactionsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  .reactionTabs {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    .reactionItem {
      display: flex;
      align-items: center;
      gap: 2px;
      padding: 4px;
      .name {
        font-size: 13px;
      }
      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        background: rgba(255,255,255,0.1);
        border: solid 1px rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 6px;
      }
      .emoji {
        height: 1.4em;
        width: 1.4em;
        border-radius: 4px;
        margin-right: 3px;
        object-fit: contain;
      }
      
    }
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 4px;

  }

  .reactedUsers {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    .reactedUserItem {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 6px;
      transition: 0.2s;
      user-select: none;
      cursor: pointer;
      .reactedUsername {
        flex: 1;
      }
      .reactedAt {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        margin-left: 8px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
      }

    }
  }
}