.homePageContainer {
  z-index: 1111;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    align-self: center;
    width: 50%;
    max-width: 400px;
    border-radius: 9999px;
    opacity: 0.6;
    background-color: var(--primary-color);
    content: "";
    filter: blur(200px);
    aspect-ratio: 1/1;
  }
}

.versionAnchor {
  padding: 6px;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 26px;
  border: 1px solid var(--primary-color);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.04);
  font-size: 14px;
  text-decoration: none;
}
.content {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 8px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 8px;
}

.topContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;

  margin-top: 100px;
  text-align: center;
  .slogan {
    background: #4c93ff;
    background: linear-gradient(to right, #4c93ff 0%, #6a5dff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.buttonsContainer {
  display: flex;
  margin-top: 10px;
  margin-left: -5px;

  a {
    text-decoration: none;
    div {
      width: 130px;
    }
  }
  .getStartedButton {
    background: #4c93ff;
    background: linear-gradient(to right, #4c93ff 0%, #6a5dff 100%);
  }
}

.downloadButton {
  text-align: start;
  :nth-child(2) {
    margin-left: 0;
    text-align: end;
  }
}

.featureContainer {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-right: 14px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  gap: 10px;
}

.featureListContainer {
  z-index: 1111;
  display: grid;
  align-self: center;
  max-width: 800px;
  padding: 10px;
  margin: 10px;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  column-gap: 20px;
}
@media (max-width: 820px) {
  .featureListContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .featureListContainer {
    width: 100%;
    max-width: 90%;
    grid-template-columns: 1fr;
  }
}
