.profilePane {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
  max-width: 900px;
  align-self: center;

}
.topArea {
  display: flex;
  flex-direction: column;
}

.informationContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
  position: relative;
}


.details {
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 8px;

}

.usernameTag {
  font-size: 16px;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.dropDown {
  margin-left: -2px;
  max-width: 190px;
}

.tag {
  color: rgba(255, 255, 255, 0.6);
}

.bannerFloatingItems {
  position: absolute;
  display: flex;
  align-items: start;
  z-index: 1;
  right: 0;
  



  .addFriendButton {
    text-decoration: none;
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 30px;
  }
}

.content {
  display: flex;
  margin-top: 10px;
  height: 100%;
}

.bioContainer {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.06);

  white-space: pre-wrap;
  word-break: break-word;
  white-space: pre-line;
  max-height: 500px;
  flex-shrink: 0;
  overflow: auto;

}

.sidePane {
  flex-shrink: 0;
  width: 200px;
  margin-right: 10px;
  margin-left: 5px;
  .title {
    user-select: none;
    display: flex;
    align-items: center;
    margin: 5px;
    .icon {
      margin-right: 3px;
    }
  }
  .block {
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .mobileBlock {
    .title {
      cursor: pointer;
    }
  }
  .list {
    .item {
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 8px;
      margin: 4px;
      margin-left: 0;
      margin-right: 0;
      color: white;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .name {
      margin-left: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.postsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.SidePaneItem {
  display: flex;
  font-size: 14px;
  margin-bottom: 9px;
  margin-top: 9px;
  margin-left: 5px;
  gap: 4px;
  .label {
    margin-right: 5px;
  }
  .value {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 860px) {
  .content {
    flex-direction: column;
  }
  .sidePane {
    order: 1;
    width: initial;
    margin-right: 5px;
  }
  .postsContainer {
    order: 2;
    margin-left: 10px;
    margin-right: 10px;;
    margin-top: 10px;
  }
}