.profilePane {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
  max-width: 900px;
  align-self: center;

}
.topArea {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.06);
  margin: 10px;
  margin-bottom: 0;
  padding: 6px;

  box-shadow: 2px 2px 11px 2px #1b1b1b;

  .avatar {
    margin-left: 20px;
  }

}

.informationContainer {
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.postsTabButton {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.04);
}

.followingAndFollowersContainer {
  display: flex;
  gap: 12px; 
  font-size: 14px;
  margin-top: 12px;
}

.details {
  margin-top: 6px;
}

.usernameTag {
  font-size: 16px;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.dropDown {
  margin-left: -2px;
  max-width: 190px;
}

.tag {
  color: rgba(255, 255, 255, 0.6);
}

.bannerFloatingItems {
  position: absolute;
  display: flex;
  align-items: start;
  z-index: 1;
  right: 0;
  



  .addFriendButton {
    text-decoration: none;
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 30px;
  }
}

.content {
  display: flex;
  margin-top: 10px;
  height: 100%;
}

.bioContainer {
  display: flex;
  
  white-space: pre-wrap;
  word-break: break-word;
  white-space: pre-line;
  max-height: 500px;
  flex-shrink: 0;
  overflow: auto;
  
  margin-top: 14px;
  padding-top: 14px;

  border-top: solid 1px rgba(255, 255, 255, 0.4);

}

.sidePane {
  flex-shrink: 0;
  width: 200px;
  margin-right: 10px;
  margin-left: 5px;
  .title {
    user-select: none;
    display: flex;
    align-items: center;
    margin: 5px;
    .icon {
      margin-right: 3px;
    }
  }
  .block {
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .mobileBlock {
    .title {
      cursor: pointer;
    }
  }
  .list {
    .item {
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 8px;
      margin: 4px;
      margin-left: 0;
      margin-right: 0;
      color: white;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .name {
      margin-left: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.postsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.SidePaneItem {
  display: flex;
  font-size: 14px;
  margin-bottom: 9px;
  margin-top: 9px;
  margin-left: 5px;
  gap: 4px;
  .label {
    margin-right: 5px;
  }
  .value {
    color: rgba(255, 255, 255, 0.6);
  }
}

.richPresence {
  margin-top: 4px;  
  display: flex;
  flex-direction: column;

  gap: 6px;
  .richInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2px;
  }

  .richProgressBar{
    display: flex;
    flex-direction: column;
    gap: 4px;
    .progressDetails {
      display: flex;
      justify-content: space-between;
    }
    .progressBar {
      flex: 1;;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      overflow: hidden;
    }
    .progress {
      height: 4px;
      border-radius: 999999999px;
      background-color: var(--primary-color);
    }
  }
}
.activityImg {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 6px;
}




@media (max-width: 860px) {
  .content {
    flex-direction: column;
  }
  .sidePane {
    order: 1;
    width: initial;
    margin-right: 5px;
  }
  .postsContainer {
    order: 2;
    margin-left: 10px;
    margin-right: 10px;;
    margin-top: 10px;
  }
}