.header {
  display: flex;
  height: 70px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  position: fixed;
  inset: 15px;
  border: solid rgba(255, 255, 255, 0.1) 1px;
}
.title {
  display: flex;
  align-items: center;
  font-size: 24px;
  align-self: center;
  margin-left: 10px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 10px;
}
.link {
  display: flex;
  align-items: center;
  font-size: 18px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &.selected {
    background-color: var(--primary-color);
    color: white;
  }
  transition: 0.2s;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  height: 50px;
  padding-left: 10px;
  padding-right: 15px;
  
  .icon {
    margin-right: 5px;
  }
  &.primary {
    background-color: var(--primary-color);
    opacity: 0.9;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }

  }

}