.sliderBar {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 999px;
    user-select: none;
}

.sliderFill {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 999px;
    z-index: 111;
}
.sliderThumb {
    position: absolute;
    right: -10px;
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid white;
    
}
.labels {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 5px;
}
.label {
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    font-size: 12px;
}
.markers {
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 26px;
    background-color: rgba(190, 190, 190, 0.4);
    opacity: 0.6;
}