
.serverDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  &[data-scrollbar-visible="true"] {
    margin-right: 8px;
  }
}

.channelList {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  gap: 3px;
}

.categoryChannelList {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 2px;
}

.welcomeItemContainer {
  padding-bottom: 6px;
  margin: 6px;
  margin-top: 0;
  margin-bottom: 3px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.categoryButtons {
  display: flex;
  margin: 6px;
  button {
    border-radius: 4px;
  }
  
  button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button:nth-child(1):has(+ button:nth-child(2)) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}