
.serverDrawer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.channelList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: auto;
  padding-bottom: 3px;
}