.flyoutContainer {
  display: flex;
  position: fixed;
  z-index: 100111111111110;
  gap: 10px;
  width: 350px;
  align-items: flex-start;
}

.flyoutInnerContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  backdrop-filter: blur(34px);
  background-color: rgba(40, 40, 40, 0.86);
  
  outline: solid 1px rgba(255, 255, 255, 0.2);
  width: 100%;
  max-height: 600px;
  
  
  .flyoutOuterScrollableContainer {
    display: flex;

    margin: 6px;
    padding: 6px;

    margin-top: 6px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;

  }

  .flyoutScrollableContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }


  &.mobile {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    max-height: initial;
  }

  &.dmPane {
    border-radius: 0;
    background-color: transparent;
    backdrop-filter: none;
    outline: none;
    padding-top: 0;
    max-height: initial;
    overflow: hidden;
  }
}

.flyoutDetailsContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  z-index: 111111111;
  margin-top: -40px;
}

.flyoutOtherDetailsContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin: 6px;
  margin-top: 12px;
  margin-bottom: 0;
  padding: 6px;

  background-color: rgba(0,0,0,0.4);
  border-radius: 6px;


}

.flyoutAvatarStyles {
  margin-right: 16px;
  margin-left: 24px;
}

.rolesContainer {
  display: flex;
  gap: 2px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.roleContainer {
  display: flex;
  background-color: rgba(80, 80, 80, 0.6);
  border-radius: 6px;
  padding: 5px;

  &.selectable {
    cursor: pointer;
    width: 14px;
    align-items: center;
    justify-content: center;
    background-color: rgba(80, 80, 80, 0.8);
    &:hover {
      background-color: #5a5a5a;
    }
  }
}

.bioContainer {
  border-radius: 6px;
  margin-bottom: 5px;
  flex-shrink: 0;
  white-space: pre-wrap;
  word-break: break-word;
  white-space: pre-line;
  line-height: 14px;
}

.backgroundContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1111;
}


.userActivityContainer {
  display: flex;
  gap: 6px;
  margin-top: 4px; 
  margin-bottom: 4px;
  .icon {
    margin-top: 2px;
  }
  .richPresence {
    margin-top: 4px;  
    display: flex;
    align-items: center;
    margin-left: -20px;
    gap: 6px;
    .richInfo {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 2px;
    }

  }
  .activityImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    &.videoActivityImg {
      aspect-ratio: 16/9;
      width: initial;
    }
  }
  .activityInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    .activityInfoRow {
      display: flex;
      gap: 4px;      
    }
  }
}

.flyoutTitle {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: bold; 
}