.flyoutContainer {
  position: fixed;
  z-index: 100111111111110;
  display: flex;
  align-items: flex-start;
  width: 350px;
  gap: 10px;
}

.mobile {
  &.backgroundContainer {
    z-index: 111111111111111111111111111111111111;
    overflow: auto;
    align-items: initial;
    justify-content: initial;
    scrollbar-width: none;
  }
  .flyoutContainer {
    position: relative;
    width: 100%;
  }
  .flyoutInnerContainer {
    max-height: initial;
  }
}

.joinedText {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 4px;
  gap: 4px;
  .joinedContainer {
    display: flex;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    white-space: nowrap;
    gap: 6px;
  }
}
.profileSettingsShown {
  .flyoutContainer {
    position: relative;
    width: 100%;
  }
  .flyoutInnerContainer {
    overflow: auto;
    scrollbar-width: 0px;
    &::-webkit-scrollbar {
      width: 0px;
    }
    .flyoutScrollableContainer {
      overflow: initial;
    }

    .flyoutOuterScrollableContainer {
      overflow: initial;
    }
  }
}

.flyoutInnerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 700px;
  border-radius: 8px;

  outline: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(40, 40, 40, 0.86);

  backdrop-filter: blur(34px);

  &.dmPane {
    overflow: hidden;
    max-height: initial;
    padding-top: 0;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    backdrop-filter: none;
  }

  .flyoutOuterScrollableContainer {
    display: flex;
    overflow: hidden;

    margin: 6px;

    margin-top: 6px;
    border-radius: 6px;
  }

  .flyoutScrollableContainer {
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
    &::-webkit-scrollbar {
      width: 2px;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.usernameDetails {
  display: flex;
  align-items: center;
}

.username {
  line-height: var(--lh);
  letter-spacing: var(--ls);
  font-family: var(--font);
  font-size: calc(20px * var(--scale, 1));
}
.followsYou {
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 4px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
.flyoutDetailsContainer {
  position: relative;

  z-index: 111111111;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.flyoutOtherDetailsContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 10px;

  margin: 6px;
  margin-bottom: 0;
  border-radius: 6px;
  gap: 2px;
}

.flyoutAvatarStyles {
  margin-right: 16px;
  margin-left: 24px;
}

.rolesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  gap: 2px;
  .roleName {
    background: var(--gradient, var(--color, var(--primary-color)));
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
  }
}

body .postItemContainer {
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  &::before {
    border: none;
  }
}

.roleContainer {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.2s;
  gap: 4px;

  &.selectable {
    align-items: center;
    justify-content: center;
    width: 14px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.bioContainer {
  flex-shrink: 0;
  line-height: 14px;
  margin-bottom: 5px;
  border-radius: 6px;
  word-break: break-word;
  white-space: pre-wrap;
  white-space: pre-line;
}

.backgroundContainer {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.flyoutTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.buttonsContainer {
  display: flex;
  margin-top: 4px;
  gap: 4px;
  .button {
    flex: 1;
  }
}

.playedFor {
  font-variant-numeric: tabular-nums;
}

.selfArea {
  display: flex;
  padding: 4px;
  margin: 6px;
  margin-bottom: 0;
  border-radius: 6px;

  .selfAreaButton {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    text-align: center;
    font-size: 12px;
    gap: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

.presenceDropdown {
  padding: 10px;
  margin: 6px;
  margin-bottom: 0;
  border-radius: 6px;
  background-color: var(--floating-bg-color);
}

.customStatusContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 6px;
  margin-bottom: 0;
  border-radius: 6px;
  background-color: var(--floating-bg-color);
  gap: 4px;
  .customStatusInput {
    & > div {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
