.channelIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  user-select: none;
}
.channelIconImage {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  object-fit: scale-down;
}
