.markup {
  white-space: pre-wrap;
  line-height: 1.3;
}

.markup .heading {
  margin-top: 4px;
  margin-bottom: 4px;
}


.markup .bold {
  font-weight: bold;
}

.markup .italic {
  font-style: italic;
}

.markup .strikethrough {
  text-decoration: line-through;
}

.markup .underline {
  text-decoration: underline;
}

.markup .code {
  color: #d0d0d0;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 4px;
}

.markup blockquote {
  margin: 0;
  padding: 0.3rem 0.6rem;
  border-left: 2px var(--primary-color) solid;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: fit-content;

}


.markup .quoteContainer {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
  padding: 6px;
  gap: 3px;
  border-radius: 6px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  align-items: start;
  border-left: 2px var(--primary-color) solid;
  width: fit-content;
}

.markup .quoteContainer .headerContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  place-self: stretch;
}

.markup .quoteContainer .goToMessageButton {
  align-self: center;
  margin-left: auto;
}
.markup .quoteContainer .editIcon {
  display: inline-block;
  margin-left: 2px;
  vertical-align: -2.5px;
}

.markup .hiddenQuote {
  display: inline-flex;
  color: rgba(255,255,255,0.5);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  align-items: baseline;
}



.markup .code-block {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 5px;

  &.no-wrap {
    .content {
      word-break: keep-all;
      white-space: pre;
      overflow: auto;
    }
  }

  .header {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 3px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);    
    margin-bottom: 5px;

    .lang-name {
      margin-right: 10px;
    }

    .button {
      cursor: pointer;
      user-select: none;
      opacity: 0.8;
      border-radius: 4px;
      transition: 0.2s;
      padding: 3px;
      &.active {
        color: var(--primary-color);
        opacity: 1;
      }
      &:hover {
        opacity: 1;
        background-color: rgb(71, 71, 71);
      }
    }
  }
}

.markup .spoiler {
  overflow: hidden;
  border-radius: 3px;

  &:not(.spoiled) {
    background-color: #0e0f10;
    color: transparent;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &:hover {
      background-color: #0e0f10b9;
    }

  }
}


.markup.largeEmoji .emoji {
  height: 40px;
  width: 40px;
}

.markup .emoji {
  height: 1.5em;
  width: 1.5em;
  vertical-align: -0.4em;
  cursor: pointer;
  object-fit: contain;
}

.markup .mention {
  display: inline-flex;
  color: var(--primary-color);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  align-items: baseline;
  text-decoration: none;
  .icon {
    align-self: center;
    margin-right: 4px;
    opacity: 0.8;
  }
  .type {
    opacity: 0.5;
    margin-right: 5px;
  }
  .avatar {
    margin-right: 5px;
    align-self: center;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}
