.markup {
  line-height: 1.3;
  white-space: pre-wrap;
}

.markup .heading {
  margin-top: 4px;
  margin-bottom: 4px;
}

.markup .bold {
  font-weight: bold;
}

.markup .italic {
  font-style: italic;
}

.markup .strikethrough {
  text-decoration: line-through;
}

.markup .underline {
  text-decoration: underline;
}
.markup .modShowMessagesButton {
  display: none;
}

.markup .code {
  padding-right: 1px;
  padding-left: 1px;
  border-radius: 4px;
  color: #d0d0d0;
  background: rgba(0, 0, 0, 0.6);
}

.markup blockquote {
  width: fit-content;
  padding: 0.3rem 0.6rem;
  margin: 0;
  border-left: 2px var(--primary-color) solid;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  &.inline {
    display: inline;
    padding: 0;
    padding-right: 4px;
    padding-left: 4px;
  }
}

.markup .quoteContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: fit-content;
  padding: 6px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-left: 2px var(--primary-color) solid;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.02);
  gap: 3px;
}

.markup .quoteContainer .headerContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  place-self: stretch;
}

.markup .quoteContainer .goToMessageButton {
  align-self: center;
  margin: 0;
  margin-left: auto;
}
.markup .quoteContainer .editIcon {
  display: inline-block;
  margin-left: 2px;
  vertical-align: -2.5px;
}

.markup .hiddenQuote {
  display: inline-flex;
  align-items: baseline;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
}

.markup .code-block {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.6);

  &.no-wrap {
    .content {
      overflow: auto;
      word-break: keep-all;
      white-space: pre;
    }
  }

  .content {
    padding: 4px;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 2px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    font-weight: bold;

    .lang-name {
      margin-right: 6px;
    }
    .lang-icon {
      width: 18px;
      margin-left: 42x;
    }

    .button {
      padding: 4px;
      border-radius: 4px;
      opacity: 0.8;
      cursor: pointer;
      user-select: none;
      transition: 0.2s;
      &:hover {
        opacity: 1;
        background-color: rgb(71, 71, 71);
      }
      &.active {
        opacity: 1;
        color: var(--primary-color);
      }
      &.copyButton {
        padding: 5px;
      }
    }
  }
}

.markup .spoiler {
  overflow: hidden;
  border-radius: 3px;

  &:not(.spoiled) {
    border-radius: 4px;
    background-color: #0e0f10;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #1c1e20;
      .code-block::before {
        background-color: #1c1e20;
      }
    }

    .emoji {
      opacity: 0;
    }

    .code-block {
      position: relative;
      overflow: hidden;
      &::before {
        position: absolute;
        z-index: 11111111;
        background-color: #0e0f10;
        content: "spoiler";
        inset: 0;
      }
    }

    * {
      color: transparent;
      pointer-events: none;
    }
  }
}

.markup.largeEmoji .emoji {
  width: 48px;
  height: 48px;
}

.markup .emoji {
  width: 1.572em;
  height: 1.572em;
  cursor: pointer;
  vertical-align: -0.4em;
  object-fit: contain;
}

.markup .mention {
  display: inline-flex;
  align-items: baseline;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px;
  color: var(--primary-color);
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  &:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  &.timestamp {
    cursor: pointer;
    font-variant-numeric: tabular-nums;
  }
  .icon {
    align-self: center;
    margin-right: 4px;
    opacity: 0.8;
  }
  .type {
    margin-right: 5px;
    opacity: 0.5;
  }
  .avatar {
    align-self: center;
    margin-right: 5px;
  }
}
