.markup {
  white-space: pre-wrap;
}

.markup .bold {
  font-weight: bold;
}

.markup .italic {
  font-style: italic;
}

.markup .strikethrough {
  text-decoration: line-through;
}

.markup .underline {
  text-decoration: underline;
}