.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.input {
  position: relative;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
  &:focus {
    border-bottom: solid 2px var(--primary-color);
  }
}
.errorMessage {
  color: var(--alert-color);
  margin-top: 5px;
  font-size: 14px;
}