.serverList {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.folderOuterContainer {
  position: relative;
  &::before {
    position: absolute;
    border-radius: 6px;
    opacity: 0.2;
    background-color: var(--folder-color);

    content: "";
    pointer-events: none;
    inset: 0;
  }
}

.folderOpenedIconContainer,
.folderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s;
  aspect-ratio: 1/1;

  &:before {
    position: absolute;
    left: 0;
    width: 3px;
    height: 15px;
    border-radius: 99px;
    content: "";
    pointer-events: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &[data-selected="true"] {
    &:before {
      background-color: var(--primary-color);
    }
  }
  &[data-alert="true"] {
    &:before {
      background-color: var(--alert-color);
    }
  }
  &.opened {
  }
}

.serverItem,
.folderOuterContainer {
  margin-bottom: 4px;
}

.folderInnerContainer {
  display: grid;
  pointer-events: none;
  gap: 6px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.folderList {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  gap: 4px;

  .serverItem {
    margin-bottom: 0;
    &[data-selected="true"],
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
