.sidePane {
  --text-color: var(--side-pane-text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 50px;
  min-width: 40px;
  max-width: 65px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 3px;
  gap: 5px;
}

body .presenceDropdown {
  margin-top: 0;
  margin-bottom: 0;
}

body .customStatusInput {
  margin-top: 0;
}

.scrollable {
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: 100%;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.mobile {
  .scrollable {
    padding-top: 0;
    padding-bottom: 74px;
    border: none;
  }
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.user {
  position: relative;
  .presence {
    position: absolute;
    z-index: 1111111111;
    right: 8px;
    bottom: 2px;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .connectingIcon {
    position: absolute;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.46);

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    backdrop-filter: blur(34px);

    &.authenticatingIcon {
      color: var(--primary-color);
      animation-duration: 4s;
    }
  }
  .errorIcon {
    position: absolute;
    z-index: 11111;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--alert-color);
    background-color: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(34px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resizeHandle {
  position: absolute;
  top: 8px;
  right: -4px;
  bottom: 8px;
  width: 4px;
  border-radius: 999px;
  cursor: ew-resize;
  user-select: none;
  &:active,
  &:hover {
    opacity: 0.6;
    background-color: white;
    background-color: var(--primary-color);
  }
}
