.sidePane {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: rgba(0, 0, 0, 0.6);
  width: 65px;
  flex-shrink: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  gap: 5px;
  margin-left: 3px;
}

body .presenceDropdown {
  margin-top: 0;
  margin-bottom: 0;
}

body .customStatusInput {
  margin-top: 0;

}

.serverList {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}





.scrollable::-webkit-scrollbar {
  display: none;
}

.notificationCount {
  position: absolute;
  top: 10px;  
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 5px;
  font-size: 0.8em;
  background-color: var(--alert-color);
  border-radius: 50%;
  height: 17px;
  width: 17px;
  z-index: 111111111;
}


.user {
  position: relative;
  .presence {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 8px;
    z-index: 1111111111;
  }
  .connectingIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(34px);
    border-radius: 50%;

    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &.authenticatingIcon {
      animation-duration: 4s;
      color: var(--primary-color)
    }

  }
  .errorIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.46);
    color: var(--alert-color);
    backdrop-filter: blur(34px);
    border-radius: 50%;
  }
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}