.deleteConfirmModal {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  .highlight {
    background-color: var(--alert-color);
    padding: 3px;
    border-radius: 8px;
  }
  .button {
    margin-left: auto;
  }
}