.messagePane {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.observePoint {
  display: flex;
  position: absolute;
  width: 10px;
  background: red;
}

.messageLogArea {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  flex: 1;
  height: 100%;
}

.messageArea {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  margin-top: 10px;
  z-index: 111111111;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

  .button {
    padding: 7px;
    width: 35px;
    height: 25px;
    margin: 0;
    backdrop-filter: blur(20px);
  }

  .backToBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: rgba(40, 40, 40, 0.6);
    border: solid 1px rgba(255, 255, 255, 0.2);
    
    border-radius: 8px;
    min-height: 50px;
    min-width: 50px;
    right: 10px;
    top: -10px;
    z-index: 11111;
    top: -60px;
    cursor: pointer;

    .text {
      margin-left: 10px;
      color: var(--alert-color);
    }

    &:hover {
      background-color: rgba(58, 58, 58, 0.6);
    }

  }
  
  .floating {
    position: absolute;
    background-color: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    left: 60px;
    margin-right: 60px;
    z-index: 11111;



    &.floatingSuggestion {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding: 5px;
      z-index: 11111111;
      right: 60px;

      .suggestionItem { 
        height: 30px; 
        padding-left: 10px; 
        padding-right: 5px; 
        gap: 5px;

        .channelIcon {
          opacity: 0.5;
          margin-right: 5px;
        }
        .suggestLabel {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &.floatingEmojiPicker {
      backdrop-filter: none;
      background-color: transparent;
      padding: 0;
      right: 0;
      margin-right: 6px;
      z-index: 9999999;
      left: initial;
      border: none;
      padding-bottom: 4px;
      .emojiPicker {
        backdrop-filter: blur(20px);
        border: solid 1px rgba(255, 255, 255, 0.2);
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
      }
    }
    &.editIndicator {
      word-break: break-word;
      display: flex;
      align-items: center;

      .message {
        font-size: 12px;
        opacity: 0.7;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        color: rgba(255, 255, 255, 0.8);
      }

      .editIcon {
        margin-right: 5px;
      }
    }

    &.floatingAttachment {
      display: flex;
      align-items: center;
    }

    .attachIcon {
      margin-right: 5px;
    }
    .attachmentFilename {
      word-break: break-all;
      margin-left: 5px;
    }
    .attachmentImage {
      aspect-ratio: 16/9;
      object-fit: contain;
      flex-shrink: 0;
      max-width: 50px;
      max-height: 50px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 6px;
    }
  }
}


.textAreaContainer {
  display: flex;
  position: relative;
  border-radius: 8px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
  flex: 1;
  cursor: text;

  &.focused {
    border-bottom: solid 2px var(--primary-color);
  }
}

.textArea {
  outline: none;
  background: transparent;
  width: 100%;
  resize: none;
  height: 100%;
  border: none;
  color: white;
  padding: 10px;
  padding-top: 14px;
  font-size: 12px;
}

.inputButtons {
  align-self: flex-end;
}


.unreadMarkerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    position: absolute;
    content: "";
    background-color: var(--alert-color);
    height: 1px;
    left: 0;
    right: 0;
  }
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
  }
}

.unreadMarker {
  display: flex;
  position: relative;
  gap: 5px;
  align-items: center;
  align-self: center;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
  background-color: var(--alert-color);
  margin-left: 3px;
  cursor: pointer;
  user-select: none;

  .closeButton {
    border-radius: 4px;
    padding: 0;
    margin: 0;
    span {
      font-size: 13px;
    }
  }
}
