:global body.disableBlur {
  :local {
    .textAreaContainer {
      background-color: black;
      backdrop-filter: none;
    }
    .backToBottom {
      background-color: rgb(40, 40, 40);
      backdrop-filter: none;
      &:hover {
        background-color: rgb(58, 58, 58);
      }
    }
  }
}

.messagePane {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.emailUnconfirmedNotice {
  position: sticky;
  z-index: 111;
  bottom: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  margin: 10px;
  margin-bottom: 0;
  border-radius: 8px;

  background-color: rgba(0, 0, 0, 0.86);
  font-size: 14px;
  backdrop-filter: blur(34px);
  .text {
    flex: 1;
  }
}

.observePoint {
  position: absolute;
  display: flex;
  width: 10px;
  background: red;
}

.floatingTypingContainer {
  position: absolute;
  top: -25px;
  display: flex;
  overflow: hidden;
  max-width: calc(100% - 80px);
  height: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  .typingText {
    display: flex;
    line-height: 20px;
    gap: 4px;
  }
  .username {
    display: block;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

body .floating.floatingSlowModeIndicator {
  position: absolute;

  z-index: 1;
  top: -25px;

  right: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-width: calc(100% - 80px);
  height: 20px;
  height: 20px;

  padding: 0px;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: 5px;
  white-space: nowrap;
  gap: 4px;
}

.messageArea {
  position: sticky;
  z-index: 111111111;
  bottom: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  .button {
    width: 35px;
    height: 25px;
    padding: 7px;
    margin: 0;
    backdrop-filter: blur(34px);
  }

  .backToBottom {
    position: absolute;
    z-index: 11111;
    top: -10px;
    top: -60px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border: solid 1px rgba(255, 255, 255, 0.2);

    border-radius: 8px;
    background-color: rgba(40, 40, 40, 0.86);
    cursor: pointer;
    backdrop-filter: blur(34px);

    &:hover {
      background-color: rgba(58, 58, 58, 0.6);
    }

    .text {
      margin-left: 10px;
      color: var(--alert-color);
    }
  }

  .floatingItems {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .floating {
    z-index: 11111;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 4px;
    margin-left: 4px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background-color: rgba(40, 40, 40, 0.86);
    font-size: 14px;
    backdrop-filter: blur(34px);

    &:last-child {
      margin-bottom: 3px;
    }

    &.floatingSuggestion {
      z-index: 11111111;
      right: 60px;
      display: flex;
      flex-direction: column;
      padding: 5px;
      gap: 2px;

      .suggestionItem {
        height: 30px;
        padding-right: 5px;
        padding-left: 10px;
        gap: 5px;

        &.commandSuggestionItem {
          height: 40px;
          .suggestContent {
            display: flex;
            flex-direction: column;
            margin-left: 4px;
            gap: 2px;
          }
          .suggestHeader {
            display: flex;
            align-items: center;
            gap: 5px;
          }
          .suggestDescription {
            opacity: 0.6;
            font-size: 12px;
          }
        }

        .suggestionInfo {
          margin-left: auto;
          opacity: 0.6;
          font-size: 12px;
        }
        .channelIcon {
          opacity: 0.5;
        }
        .suggestLabel {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .suggestArgs {
          opacity: 0.6;
          font-size: 12px;
        }
      }
    }

    &.floatingMessageEmojiPicker {
      position: absolute;
      z-index: 9999999;
      right: 0;
      bottom: 50px;
      left: 60px;
      left: initial;
      padding: 0;
      padding-bottom: 2px;
      margin-right: 6px;
      border: none;
      background-color: transparent;
      backdrop-filter: none;
    }
    &.replyIndicator {
      display: flex;
      flex-direction: column;
      padding-top: 6px;
      padding-right: 4px;
      padding-bottom: 2px;
      padding-left: 4px;
      .replyIndicatorTitle {
        margin-bottom: 4px;
        margin-left: 2px;
      }
      .replyIndicatorInner {
        display: flex;
        align-items: center;
        padding-top: 4px;
        padding-right: 2px;
        padding-bottom: 4px;
        gap: 4px;
      }
      .message {
        display: -webkit-box;
        overflow: hidden;
        flex: 1;
        opacity: 0.7;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    &.editIndicator {
      display: flex;
      align-items: center;
      word-break: break-word;

      .message {
        display: -webkit-box;
        overflow: hidden;
        opacity: 0.7;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .editIcon {
        margin-right: 5px;
      }
    }

    &.floatingAttachment {
      display: flex;
      flex-direction: column;
      padding: 6px;
      gap: 2px;

      .attachmentContent {
        display: flex;
        align-items: center;
        height: 92px;
        margin-bottom: 2px;
        gap: 6px;
      }

      .attachmentInfo {
        overflow: hidden;
        padding-left: 2px;
        word-break: break-all;
      }
      .attachmentUploadToDropDown {
        margin-top: 6px;

        :global .box {
          padding: 6px;
        }
      }
    }

    .attachmentFilename {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
    }
    .attachmentSize {
      overflow: hidden;
      opacity: 0.6;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .attachmentEditImageButton {
      position: absolute;
      right: 4px;
      bottom: 4px;
      background-color: rgb(34, 34, 34);
    }
    .attachmentImageContainer {
      position: relative;
      display: flex;
      height: 100%;
    }
    .attachmentImage {
      flex-shrink: 0;
      height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.24);
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      object-fit: contain;
      aspect-ratio: 16/9;
    }
  }
}

.textAreaContainer {
  position: relative;
  z-index: 1111111;
  display: flex;
  flex: 1;
  border: solid 1px rgba(255, 255, 255, 0.2);

  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.86);
  cursor: text;
  transition: 0.2s;
  backdrop-filter: blur(34px);

  &.focused {
    border-bottom: solid 2px var(--primary-color);
  }
  &.advancedMarkupShown {
    margin-top: 0;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.textArea {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 14px;
  border: none;
  outline: none;
  color: white;
  background: transparent;
  resize: none;
  font-size: 12px;
  
  &:placeholder-shown {
    text-overflow: ellipsis;
  }
  
  &::placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inputButtons {
  align-self: flex-end;
}

.disableChatArea {
  position: absolute;
  inset: 0;
}
.beforeYouChatNotice {
  position: absolute;
  right: 0;
  bottom: -2px;

  left: 0;
  display: flex;
  flex-direction: column;

  max-width: 300px;
  max-height: 300px;
  box-sizing: border-box;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: var(--pane-color);

  &.mobile {
    max-width: initial;
  }

  .title {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    gap: 5px;
  }
  .info {
    overflow: auto;
    margin: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
  }
  .noticeButton {
    margin-top: auto;
  }
}

body .messageArea .floating.floatingAttachment.mobile .attachmentContent {
  overflow: hidden;
  align-items: start;
  flex-direction: column;
  height: initial;
  box-sizing: border-box;
  .attachmentImageContainer {
    overflow: hidden;
    width: 100%;
    height: initial;
    box-sizing: border-box;
  }
  .attachmentImage {
    overflow: hidden;
    width: 100%;
    height: initial;
    box-sizing: border-box;
  }
  .attachmentInfo {
    width: 100%;
  }
}


.reminderButton {
  position: relative;
  .reminderDot {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--alert-color);

  }
}



.scheduledDeleteContainer {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .scheduledDeleteTitle {
    margin-bottom: 10px;
    color: var(--alert-color);
    font-size: 24px;
    font-weight: bold;
  }
  .scheduledDeleteDesc {
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 16px;
  }
}



.dropOverlayContainer {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  .dropOverlayInnerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: var(--primary-color);
    background-color: var(--pane-color);
    font-size: 18px;
    gap: 10px;
  }
}