.messagePane {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.messageLogArea {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  flex: 1;
  overflow: auto;
  height: 100%;
}

.messageArea {
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  margin-top: 10px;
  .button {
    padding: 7px;
    width: 35px;
    margin-right: 5px;
  }
  .cancelEditButton {
    padding: 7px;
    width: 35px;
    margin-left: 5px;
    margin-right: 0;

  }
  .floating {
    position: absolute;
    background-color: rgb(53, 53, 53);
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 3px;
    font-size: 14px;
    left: 10px;
    right: 5px;
    &.editIndicator {
      word-break: break-word;
      display: flex;
      align-items: center;

      .message {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        color: rgba(255, 255, 255, 0.8);
      }



      .editIcon {
        margin-right: 5px;
      }
    }
  }
}


.textareaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  position: relative;
}

.textArea {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  resize: none;
  margin-left: 5px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  padding: 10px;
  height: 16px;
  color: white;
  outline: none;
  &:focus {
    border-bottom: solid 2px var(--primary-color);
  }
}



.unreadMarkerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    position: absolute;
    content: "";
    background-color: var(--alert-color);
    height: 1px;
    left: 0;
    right: 0;
  }
}

.unreadMarker {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  background-color: var(--alert-color);
  margin-left: 3px;
  .icon {
    margin-right: 5px;
  }

}
