
.topArea {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  flex: 1;
  width: 100%;
  max-width: 1100px;
  align-self: center;


}

.bannerItems {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 100%;
  z-index: 11111;
  .details {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    z-index: 1111;
    background: rgba(0,0,0,0.86);
    backdrop-filter: blur(34px);
    padding: 10px;
    border-radius: 8px;
  }
  .name {
    font-size: 16px;
  }
  .memberCount {
    opacity: 0.7;
    font-size: 14px;
  }
}
.joinButton {
  text-decoration: none;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
}

.invalidServerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .errorMessage {
    color: var(--alert-color);
    font-size: 18px;
  }
  .message {
    margin-bottom: 20px;
    opacity: 0.8;
  }
}