.header {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  margin: 5px;
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0.05);

  .headerItem {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 30px;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.selected .notificationCount {
      color: var(--primary-color);
      background-color: white;
    }
    &.selected {
      color: white;
      background-color: var(--primary-color);
    }

    .headerIcon {
      margin-right: 5px;
    }

    .notificationCount {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: center;
      width: 17px;
      height: 17px;
      margin-left: 5px;
      border-radius: 50%;
      color: white;
      background-color: var(--alert-color);
      font-size: 0.8em;
    }
  }
}

.inboxDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  overflow: auto;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}

.items {
  display: flex;
  overflow: hidden;
  margin: 5px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  .item {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    text-align: center;
    font-size: 12px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
    &.selected {
      background-color: var(--primary-color);
    }
  }
}

.searchBar {
  user-select: none;
  pointer-events: none;
}
