.header {
  display: flex;
  align-items: center;
  margin: 3px;
  gap: 3px;
  overflow: hidden;
  
  .headerItem {
    padding: 7px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;

    .headerIcon {
      margin-right: 5px;
    }

    .notificationCount {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: white;
      margin-left: 5px;
      font-size: 0.8em;
      background-color: var(--alert-color);
      border-radius: 50%;
      height: 17px;
      width: 17px;
    }
    &.selected .notificationCount {
      color: var(--primary-color);
      background-color: white;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.selected {
      color: white;
      background-color: var(--primary-color);
    }
  }
}

.inboxDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  gap: 2px;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.items {
  display: flex;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 45px;
    flex: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    user-select: none;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
    &.selected {
      background-color: var(--primary-color);
    }
  }
}