@import url('https://fonts.googleapis.com/css?family=Inter:light,regular,medium,thin,italic,mediumitalic,bold');

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
  -webkit-touch-callout: none;
}

#root.mobileAgent {
  -webkit-user-select: none;
}

textarea {
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

a {
  color: var(--primary-color);
}



#dnd-action-dragged-el {
  opacity: 0.6 !important;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}