@import url('https://fonts.googleapis.com/css?family=Inter:light,regular,medium,thin,italic,mediumitalic,bold');


:root {
  --background-color: hsl(216deg 9% 8%);
  --primary-color: #4c93ff;
  --alert-color:   #eb6e6e;
  --warn-color:   #e8a859;
  --success-color: #78e380;
  --pane-color: hsl(216deg 8% 15%);
  
  --success-color-dark: #1c221d;
  --primary-color-dark: #2d3746;
  --alert-color-dark:   #3e2626;
  --warn-color-dark:   #3a3229;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
  -webkit-touch-callout: none;
}

#root.mobileAgent {
  -webkit-user-select: none;
}

textarea {
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

a {
  color: var(--primary-color);
}



#dnd-action-dragged-el {
  opacity: 0.6 !important;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}