
:global body.disableBlur {
  :local {
    .contextMenu {
      background-color: rgb(40, 40, 40);
      backdrop-filter: none;
    }
  }
}
.contextMenu {
  position: fixed;
  
  background-color: rgba(40, 40, 40, 0.6);
  backdrop-filter: blur(20px);
  border: solid 1px rgba(255, 255, 255, 0.2);
  z-index: 11111;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;

  &.mobile {
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

}

.darkBackground {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.contextMenuInner {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
  animation: showUp;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes showUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.mobile .item {
  padding: 10px;
}

.item {
  display: flex;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap;
  user-select: none;
  font-size: 14px;
  .label {
    margin-left: 5px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &.alert {
    color: var(--alert-color);
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
    &:hover {
      background-color: transparent;
    }
  }
}

.separator {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  width: 100%;
}