:global body.disableBlur {
  :local {
    .drawerHeaderContainer {
      background-color: var(--header-background-color-blur-disabled);
      backdrop-filter: none;
    }
  }
}

.drawerHeaderContainer {
  position: sticky;
  z-index: 111111;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 45px;
  margin-bottom: 3px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  background-color: var(--header-background-color);
  user-select: none;
  transition: 0.2s;
  backdrop-filter: blur(34px);
}

.text {
  margin-left: 10px;
  font-size: 16px;
}


