.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;

  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
  color: transparent;
  transition: 0.2s;
  padding: 3px;
  border: solid 1px rgba(255, 255, 255, 0.2);
}

.nativeCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: inherit;
  position: absolute;
  margin: 0;
  inset: 0;
  border-radius: 6px;
}

.container {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  user-select: none;
  cursor: pointer;

  .checkbox :global(.icon) {
    color: inherit;
  }

  &:hover .checkbox {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.3);
  }

  &.selected .checkbox {
    background-color: var(--primary-color);
    color: white;
  }
}
