.boxStyle {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
  color: transparent;
  transition: 0.2s;
  padding: 3px;
  border: solid 1px rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover .boxStyle {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.3);
  }

  &.selected .boxStyle {
    background-color: var(--primary-color);
    color: white;
  }
}
