.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dayAndMonthContainer {
  display: flex;
  flex: 1;
  gap: 6px;
}
body .yearInput {
  flex: initial;
  width: 60px;
}

.presetsLabel {
  margin-top: 6px;
  opacity: 0.6;
  font-size: 16px;
}
.presets {
  display: flex;
  margin-bottom: 12px;
  gap: 6px;
  button {
    flex: 1;
  }
}

.timeContainer {
  display: flex;
  > div {
    width: 40px;
  }
  div {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  :nth-child(1) div {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  :nth-child(2) div {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  :global .icon {
    display: none;
  }
}
