.itemRoot {
  --handle-color: var(--primary-color);
  --handle-length: 8px;
  --handle-thickness: 4px;

  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  text-decoration: none;
  
  &:hover {
    background-color: hsl(216deg 7% 28% / 40%);
    
    &:after {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .label {
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    left: 0;
    width: var(--handle-thickness);
    height: var(--handle-length);
    border-radius: 9999px;
    content: "";
    transition: 0.2s;
  }
  
  &[data-handle-position="bottom"]{
    &::after {
      bottom: 0;
      left: initial;
      width: var(--handle-length);
      height: var(--handle-thickness);
    }
  }
  
  &[data-selected="true"] {
    background-color: hsl(216deg 7% 28% / 60%);
    --handle-length: 16px;
    &:after {
      background-color: var(--handle-color);
    }
    .label {
      opacity: 1;
    }
  }

  &[data-alert="true"] {
    --handle-length: 16px;
    &:after {
      background-color: var(--alert-color);
    }
  }
}

.label {
  opacity: 0.6;
  transition: 0.2s;
  font-size: 14px;
}


.itemRoot[data-handle-position="bottom"]{
  .itemContent {
    padding-left: 6px;
  }
}
.itemContent {
  display: flex;
  padding: 6px;
  padding-left: 10px;
  gap: 4px;
}
