.item {
  user-select: none;
  &.dragging {
    opacity: 0.2;
    cursor: move !important;

  }
  * {
    user-select: none !important;
  }
  &:active {
  }
}
.container {
  display: flex;
  flex-direction: column;
  user-select: none;
  touch-action: none;
}

.dropZone {
  width: 100%;
  height: 6px;
  border-radius: 999px;
  opacity: 0;
  background-color: var(--primary-color);
  &.show {
    opacity: 1;
  }
}