.resizeHandle {
  position: absolute;
  z-index: 111111;
  top: 8px;
  right: -4px;
  bottom: 8px;
  width: 4px;
  border-radius: 999px;
  cursor: ew-resize;
  user-select: none;

  &:active,
  &:hover {
    opacity: 0.6;
    background-color: white;
    background-color: var(--primary-color);
  }
}