.container {

}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: rgb(40, 40, 40);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  left: 0;
  font-size: 12px;
  max-width: 300px;
  overflow: hidden;
}
.tooltipContent {
  padding: 6px;
}